.banner-image {
  background: url("/assets/images/covers/cover2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.1);
}
